.navbar-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 0;
	overflow: hidden;
	background-color: $button-idle;
	z-index: 2;
}

li.navbar-button{
	float: left;
	text-align: center;
	border-left: 1px solid $button-border;
}

li.navbar-button a{
	display: block;
	color: white;
	padding: 10px 16px;
	text-decoration: none;
	text-transform: capitalize;
	transition-duration: 0.4s;

	// Mobile-friendly navbar - smaller blocks.
	@include media-query($on-mobile) {
		padding: 5px 8px;
	}
}

li.navbar-button a:hover{
	background-color: $button-active;
	text-shadow: 1px 1px 2px #404040;
}

li.navbar-button:last-child{
	border-right: 1px solid $button-border;
}

.navbar-active{
	background-color: $button-active;
	text-shadow: 1px 1px 2px #404040;
}

.button-container {
	position: absolute;
	left: calc(50vw - (#{$content-width} / 2));

	@include media-query(1275px) {
		position: relative;
		float: left;
		left: 0;
	}

	@include media-query($on-mobile) {
		position: relative;
		left: 0;
	}
}

